@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(0%);
  }
  35% {
    transform: translateY(-25%);
  }
  45% {
    transform: translateY(-25%);
  }
  60% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-50%);
  }
  90% {
    transform: translateY(-75%);
  }
  100% {
    transform: translateY(-75%);
  }
}

.hWrapper {
  display: flex;
  align-items: center;

  h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 350;
  }

  .wrapper {
    overflow: hidden;
    height: 2.7rem;
    display: inline-grid;
    margin: 0 0.4rem;

    .container {
      animation: scrollAnimation 6s infinite ease-in-out;

      .item {
        text-align: center;
      }
    }
  }
}
